body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.icon {
    position: relative;
}

.icon svg {
    color: white;
    font-size: 2rem;
}

.nav-counter {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    /* background: #ff1e1e; */
    top: -0.2rem;
    right: -0.2rem;
}
